@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "logout-form-wrap" }))
    {
        @Html.AntiForgeryToken()

        <ul class="navbar-nav navbar-right arac-user-nav">
            <li>
                @Html.ActionLink("Mi perfil", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Perfil", @class = "nav-link user-pill" })
            </li>
            <li>
                <a class="nav-link user-pill logout-pill" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right arac-user-nav">
        <li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link user-pill register-pill" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link user-pill login-pill" })</li>
    </ul>
}