@{
    ViewBag.Title = "Correo enviado";
}

<link href="~/Content/estilos/Account.css" rel="stylesheet" />

<div class="auth-clean">
    <h1>Revisa tu correo</h1>

    <p>
        Hemos enviado instrucciones para restablecer tu contraseña.
        Revisa tu bandeja de entrada o spam.
    </p>

    <a href="@Url.Action("Login", "Account")" class="auth-btn-main">
        Volver al login
    </a>
</div>