/* ESTRUCTURA GLOBAL */
html, body {
    height: 100%;
    margin: 0;
}

/* layout principal */
body {
    display: flex;
    flex-direction: column;
}

/* contenido crece */
.body-content {
    flex: 1;
}
