@section styles {
    <link href="~/Content/estilos/About.css" rel="stylesheet" />
}

<!-- HERO EDUCATIVO -->
<div class="about-hero">
    <h1>Bienestar Animal y Tenencia Responsable</h1>
    <div class="about-top">
        <p>
            Si te interesa el bienestar animal, este espacio es para ti...
        </p>
        <img src="@Url.Content("~/Content/img/Refugio.png")" class="about-img" alt="Refugio" />
    </div>

    <div class="cta-container">
        <a href="#contenido" class="about-cta">Explorar contenido educativo</a>
    </div>
</div>

<!-- CONTENIDO EDUCATIVO -->
<div id="contenido" class="proceso">

    <h2>Contenido educativo disponible</h2>

    <div class="cards-proceso">

        <a href="https://www.hillspet.co.cr/"
           target="_blank" class="card">
            <div class="icon">
                <svg width="48" height="48" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg"><path d="m6 13.626 1.606 1.722c.886.95 1.329 1.424 1.825 1.574.436.131.9.096 1.315-.1.473-.224.852-.761 1.612-1.836L18 7" /></svg>
            </div>
            <p>Alimentación adecuada</p>
        </a>

        <a href="https://purina.co.cr/purina/perros/vacunas-para-perros"
           target="_blank" class="card">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="#67171c"><path d="M21 6h-2l-1.27-1.27A2.49 2.49 0 0 0 16 4h-2.5A2.64 2.64 0 0 0 11 2v6.36a4.38 4.38 0 0 0 1.13 2.72 6.57 6.57 0 0 0 4.13 1.82l3.45-1.38a3 3 0 0 0 1.73-1.84L22 8.15a1.06 1.06 0 0 0 0-.31V7a1 1 0 0 0-1-1zm-5 2a1 1 0 1 1 1-1 1 1 0 0 1-1 1z" fill="#ffffff" /><path d="M11.38 11.74A5.24 5.24 0 0 1 10.07 9H6a1.88 1.88 0 0 1-2-2 1 1 0 0 0-2 0 4.69 4.69 0 0 0 .48 2A3.58 3.58 0 0 0 4 10.53V22h3v-5h6v5h3v-8.13a7.35 7.35 0 0 1-4.62-2.13z" fill="#ffffff" /></svg>

            </div>
            <p>Cuidados de salud y vacunación</p>
        </a>

        <a href="https://purina.co.cr/purina/perros/higiene-de-mascotas"
           target="_blank" class="card">
            <div class="icon">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><ellipse cx="22" cy="30" rx="16" ry="14" fill="none" stroke="#ffffff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" /><path d="M26 24C27.3333 24.1667 30 25 31 29" stroke="#ffffff" stroke-width="4" stroke-linecap="round" /><circle cx="8" cy="8" r="4" fill="none" stroke="#ffffff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" /><circle cx="41" cy="13" r="3" fill="none" stroke="#ffffff" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" /></svg>
            </div>
            <p>Higiene y cuidados básicos</p>
        </a>

        <a href="https://atrevia.vet/importancia-crear-ambiente-de-descanso-para-mascota/#:~:text=Ubicaci%C3%B3n%3A%20Elige%20un%20lugar%20tranquilo,las%20necesidades%20de%20tu%20mascota."
           target="_blank" class="card">
            <div class="icon">
                <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 10C20 9.44772 19.5523 9 19 9C18.4477 9 18 9.44772 18 10H20ZM6 10C6 9.44772 5.55228 9 5 9C4.44772 9 4 9.44772 4 10H6ZM20.2929 12.7071C20.6834 13.0976 21.3166 13.0976 21.7071 12.7071C22.0976 12.3166 22.0976 11.6834 21.7071 11.2929L20.2929 12.7071ZM12 3L12.7071 2.29289C12.3166 1.90237 11.6834 1.90237 11.2929 2.29289L12 3ZM2.29289 11.2929C1.90237 11.6834 1.90237 12.3166 2.29289 12.7071C2.68342 13.0976 3.31658 13.0976 3.70711 12.7071L2.29289 11.2929ZM7 22H17V20H7V22ZM20 19V10H18V19H20ZM6 19V10H4V19H6ZM21.7071 11.2929L12.7071 2.29289L11.2929 3.70711L20.2929 12.7071L21.7071 11.2929ZM11.2929 2.29289L2.29289 11.2929L3.70711 12.7071L12.7071 3.70711L11.2929 2.29289ZM17 22C18.6569 22 20 20.6569 20 19H18C18 19.5523 17.5523 20 17 20V22ZM7 20C6.44772 20 6 19.5523 6 19H4C4 20.6569 5.34315 22 7 22V20Z" fill="#ffffff" />
                </svg>
            </div>
            <p>Cómo crear un ambiente adecuado</p>
        </a>

        <a href="https://natukabarf.com/blogs/news/como-cuidar-la-salud-mental-y-emocional-de-tu-perro-o-gato"
           target="_blank" class="card">
            <div class="icon">
                <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.0711 13.1421L13.4142 18.799C12.6332 19.58 11.3668 19.58 10.5858 18.799L4.92893 13.1421C2.97631 11.1895 2.97631 8.02369 4.92893 6.07107C6.88155 4.11845 10.0474 4.11845 12 6.07107C13.9526 4.11845 17.1184 4.11845 19.0711 6.07107C21.0237 8.02369 21.0237 11.1895 19.0711 13.1421Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <p>Bienestar emocional de tu mascota</p>
        </a>


    </div>

</div>