.form-container {
    max-width: 700px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.titulo {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

/* GRID */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.full {
    grid-column: span 2;
}

/* INPUTS */
.input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

    .input:focus {
        outline: none;
        border-color: #e76f51;
    }

/* MONTO */
.monto {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

/* INSUMOS */
.insumos {
    margin-top: 30px;
}

.insumo-item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

/* BOTON */
.btn-guardar {
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #1f3c88;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

    .btn-guardar:hover {
        background: #162c66;
    }
