@model IEnumerable<AdoptameLiberia.Models.Finanzas.CategoriaFinanciera>

<h2>Categorías Financieras</h2>

<p>
    @Html.ActionLink("Nueva Categoría", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Estado</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nombre</td>
            <td>@item.Tipo</td>
            <td>@(item.Estado == true ? "Activo" : "Inactivo")</td>
        </tr>
    }
</table>